doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1,user-scaleable=no')
    title= title
    link(rel='stylesheet', href='https://js.arcgis.com/3.17/esri/css/esri.css')
    link(rel='stylesheet', href="https://js.arcgis.com/3.17/esri/themes/calcite/dijit/calcite.css")
    link(rel='stylesheet', href="https://js.arcgis.com/3.17/esri/themes/calcite/esri/esri.css")
    style.
      html, body, #map {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
      #search {
         display: block;
         position: absolute;
         z-index: 2;
         top: 96px;
         left: 74px;
      }
      #LocateButton {
      position: absolute;
      top: 175px;
      left: 25px;
      z-index: 50;
      }
      #side_div {
        width:30%;
      }
      input, select {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      .container{
        display: flex;
        padding: 10px;
      }
      .flex-item{
        flex-grow: 1;
      }
      #title{
        padding-left: 10px;
      }
    script(src='https://js.arcgis.com/3.17/')
    script().
      dojoConfig= {async: true}
    script(src='/javascripts/map.js')
    
  body(class='calcite')
    #title
      h1 #{title}
    div(class="container")
      div(id='map')
        div(id='search')
        div(id='LocateButton') 
      div(id='side_div', class="flex-item", data-dojo-type="dijit/layout/TabContainer", doLayout="false")
        div(id='search_form_div', data-dojo-type="dijit/layout/ContentPane", title="Search", data-dojo-props="selected:true")
          h3 Search for Pokemon!
          div(data-dojo-type="dijit/form/Form", id="search_form", data-dojo-id="search_form", name='search_form', method='post',action='/search')
            label(for='pokemon_list') Pokemon Name:
            input(id='pokemon_list')
            br
            label(for='pokemon_type') Pokemon Type:
            input(id='pokemon_type')
            br
            button(id='searchBtn', type='button')
            button(id='searchClearBtn', type='reset')
          
        div(id="catch_form_div", data-dojo-type="dijit/layout/ContentPane", title="Report Catch")
          h3 Report a catch!
          div(data-dojo-type="dijit/form/Form", id="catch_form", data-dojo-id="catch_form", name='catch_form', method='post',action='/api/catch_reports')
            label(for='pokemon_select') Pokemon Name: 
            br
            input(id='pokemon_select', name='pokemon_name') 
            br
            label(for='capture_date') Date:
            br
            input(id='capture_date', name='capture_date', required='true', data-dojo-type="dijit/form/DateTextBox" value='now') 
            br
            label(for='capture_time_of_day') Time of Day:
            br
            select(id='capture_time_of_day', name='capture_time_of_day', required=true, data-dojo-type="dijit/form/Select")
              option(value='morning') Morning
              option(value='afternoon') Afternoon
              option(value='evening') Evening
            br
            label(for='capture_location') Location:
            br
            input(type='text', id='capture_location', name='capture_location', data-dojo-type="dijit/form/ValidationTextBox", data-dojo-props="'required': true, 'placeholder': 'Click Add Point', 'missingMessage':'Please Add Point to include location'")
            button(id='addPointBtn', type='button')
            br
            button(id='submitBtn', type='submit')